<div>
    <h4 class="stext-301 cl0 p-b-30">RECIBIR NOTIFICACIONES</h4>
    <form>
        <div class="wrap-input1 w-full p-b-4">
            <input class="input1 bg-none plh1 stext-107 cl7" type="email" [formControl]="email" autoComplete="off"
                placeholder="email@ejemplo.com" />
            <div class="focus-input1 trans-04"></div>
        </div>

        <div class="p-t-18 animate__animated">
            <button (click)="subscriberCreate()" type="button" [ngClass]="{'hov-btn2' : !isLoading}"
                class="flex-c-m stext-101 cl0 size-103 bg1 bor1 p-lr-15 trans-04">
                <div *ngIf="!isLoading; else loading">Suscribirme</div>
                <ng-template #loading>
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </ng-template>
            </button>
        </div>
    </form>
</div>