<body>
    <header class="header-v4">
        <!-- Header Desktop -->
        <div class="container-menu-desktop">
            <!-- TopBar -->
            <header-info></header-info>
            <div class="wrap-menu-desktop">
                <header-sweet></header-sweet>
            </div>
        </div>
        <!-- Header Mobile -->
        <header-sweet-mobile></header-sweet-mobile>
    </header>
    <router-outlet></router-outlet>
    <ng-template [ngIf]="notificationSetup$ | async">
        <notification-panel></notification-panel>
    </ng-template>
    <ng-template [ngIf]="basketPanel$ | async">
        <app-basket-panel></app-basket-panel>
    </ng-template>
    <ng-template [ngIf]="searchSetup$ | async">
        <app-search-panel></app-search-panel>
    </ng-template>
    <ng-template [ngIf]="productDetail$ | async">
        <app-product-preview></app-product-preview>
    </ng-template>
    <app-back-top></app-back-top>
    <app-footer></app-footer>
</body>