<header class="header-v3">
    <div class="container-menu-desktop trans-03">
        <div class="wrap-menu-desktop">
            <app-header-dark></app-header-dark>
        </div>
    </div>
    <router-outlet></router-outlet>
    <!-- <div *ngIf="notificationSetup$ | async">
        <app-notification-panel></app-notification-panel>
    </div>
    <div *ngIf="searchSetup$ | async">
        <app-search-panel></app-search-panel>
    </div>  -->
</header>
<app-footer></app-footer>
<app-back-top></app-back-top>
<!-- <app-shopping-cart-panel></app-shopping-cart-panel> -->