<div class="top-bar">
    <div class="content-topbar flex-sb-m h-full container">
        <div class="left-top-bar">
            Descuento en órdenes superiores a $100
        </div>
        <div class="right-top-bar flex-w h-full">
            <a class="flex-c-m trans-04 p-lr-25 cursor-pointer">Preguntas frecuentes</a>

            <a [routerLink]="['/authentication/signIn']" class="flex-c-m trans-04 p-lr-25 cursor-pointer">Mi cuenta</a>

            <a class="flex-c-m trans-04 p-lr-25 cursor-pointer">EN</a>

            <a class="flex-c-m trans-04 p-lr-25 cursor-pointer">USD</a>
        </div>
    </div>
</div>