<div class="p-b-63">
    <div class="hov-img0 how-pos5-parent">
        <img [routerLink]="['/blog/detail']" loading="lazy" src="../../../static/images/blog-04.jpg" alt="IMG-BLOG" />
        <div class="flex-col-c-m size-123 bg9 how-pos5">
            <span class="ltext-107 cl2 txt-center">29</span>

            <span class="stext-109 cl3 txt-center">
                enero 2022
            </span>
        </div>
    </div>
    <div class="p-t-32">
        <h4 class="p-b-15">
            <div class="ltext-108 cl2 hov-cl1 trans-04">{{data.title}}</div>
        </h4>
        <p class="stext-117 cl6">{{data.meta_description}}</p>
        <div class="flex-sb-m p-t-18">
            <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
                <span>
                    <span class="cl4">Por</span> Administrador
                    <span class="cl12 m-l-4 m-r-6">|</span>
                </span>
                <span>
                    Hombre
                    <span class="cl12 m-l-4 m-r-6">|</span>
                </span>
                <span>
                    2022 / 20/ 09
                    <span class="cl12 m-l-4 m-r-6">|</span>
                </span>
                <span>{{ data.number_comments }} comentarios</span>
            </span>
            <div class="cursor-pointer stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                Continuar leyendo
                <i class="fa fa-long-arrow-right m-l-9"></i>
            </div>
        </div>
    </div>
</div>