<div class="bg0 p-t-80 p-b-116">
    <div class="container">
        <div class="flex-c">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form>
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Iniciar sesión
                    </h4>
                    <div class="bor8 m-b-20">
                        <input autocomplete="off" class="stext-111 cl2 plh3 size-116 p-l-25 p-r-30" type="text"
                            name="email" placeholder="Correo electrónico">
                    </div>
                    <div class="bor8 m-b-10 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-25 p-r-30" type="password" name="email"
                            autocomplete="off" placeholder="Contraseña">
                    </div>
                    <div class="m-b-30 d-flex justify-content-end">
                        <span [routerLink]="['/authentication/recovery-password']"
                            class="cursor-pointer stext-111 cl1 m-l-5">Recuperar contraseña</span>
                    </div>
                    <button type="button" (click)="isLoading = !isLoading"
                        class="flex-c-m stext-101 cl0 size-121 bg1 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        <p *ngIf="!isLoading; else loading">Login</p>
                        <ng-template #loading>
                            <app-loader-elipsis></app-loader-elipsis>
                        </ng-template>
                    </button>
                </form>
            </div>
        </div>
        <div class="flex-c m-t-20">
            <div class="size-210 bor10 p-lr-70 p-t-20 p-b-20 p-lr-15-lg w-full-md">
                <div class="container">
                    <div class="flex-row align-self-stretch">
                        <div class="col-sm">
                            <h4 class="stext-111 txt-center cl2">
                                No tienes una cuenta?
                                <span [routerLink]="['/authentication/signUp']"
                                    class="cursor-pointer stext-111 cl1 m-l-5">Crear una
                                    cuenta</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>