<div class="item-slick1" style="background-image: url({{slider?.img}})">
    <div class="container h-full">
        <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
            <div class="layer-slick1 visible-true">
                <span class="ltext-101 cl2 respon2 animate__animated animate__fadeInLeft animate__repeat-2">
                    {{slider?.title}}
                </span>
            </div>
            <div class="layer-slick1 visible-true">
                <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                    {{slider?.tag}}
                </h2>
            </div>
            <div class="layer-slick1 visible-true">
                <div
                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 animate__animated animate__slideInU animate__delay-5s animated__slow-2s">
                    {{slider?.description}}
                </div>
            </div>
        </div>
    </div>
</div>