<!-- EXPERIMENTAL SLIDER -->
<section class="section-slide">
    <div class="wrap-slick1 rs2-slick1">
        <div class="slick1">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide slick1">

                    <div class="item-slick1 bg-overlay1"
                        style="background-image: url(../../../../static/images/slide-07.jpg);"
                        data-thumb="images/thumb-01.jpg" data-caption="Women’s Wear">
                        <div class="container h-full">
                            <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
                                <div class="layer-slick1 animated visible-true">
                                    <span class="ltext-202 txt-center cl0 respon2">
                                        Women Collection 2018
                                    </span>
                                </div>

                                <div class="layer-slick1 animated visible-true">
                                    <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
                                        New arrivals
                                    </h2>
                                </div>

                                <div class="layer-slick1 animated visible-true">
                                    <a href="product.html"
                                        class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
        <div class="wrap-slick1-dots p-lr-10"></div>

    </div>
</section>

<!-- Banner section -->
<div class="sec-banner bg0 p-t-95 p-b-55">
    <div class="container">
        <div class="row">
            <div *ngFor="let item of banners$ | async" class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <app-banner></app-banner>
            </div>
        </div>
    </div>
</div>

<!-- Product section -->
<div class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">Productos</h3>
        </div>
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    Todos los productos
                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="*">
                    Hombre
                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="*">
                    Mujer
                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="*">
                    Calzado
                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="*">
                    Accesorios
                </button>
            </div>
        </div>
        <div class="row isotope-grid">
            <div *ngFor="let item of products$ | async"
                class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men animate__animated animate__zoomIn">
                <app-product></app-product>
            </div>
        </div>
        <div class="flex-c-m flex-w w-full p-t-38">
            <a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
                1
            </a>

            <a class="flex-c-m how-pagination1 trans-04 m-all-7">
                2
            </a>
            <a class="flex-c-m how-pagination1 trans-04 m-all-7">
                3
            </a>
            <a class="flex-c-m how-pagination1 trans-04 m-all-7">
                4
            </a>
            <a class="flex-c-m how-pagination1 trans-04 m-all-7">
                5
            </a>
        </div>
    </div>
</div>