<footer class="bg3 p-t-80 p-b-30">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">CATEGORÍAS</h4>
                <ul>
                    <li class="p-b-10 cursor-pointer">
                        <a class="stext-107 cl7 hov-cl1 trans-04">
                            Hombre
                        </a>
                    </li>
                    <li class="p-b-10 cursor-pointer">
                        <a class="stext-107 cl7 hov-cl1 trans-04">
                            Mujer
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">AYUDA</h4>
                <ul>
                    <li class="p-b-10">
                        <a class="stext-107 cl7 hov-cl1 trans-04 cursor-pointer">Órdenes</a>
                    </li>
                    <li class="p-b-10">
                        <a class="stext-107 cl7 hov-cl1 trans-04 cursor-pointer">Devoluciones</a>
                    </li>
                    <li class="p-b-10">
                        <a class="stext-107 cl7 hov-cl1 trans-04 cursor-pointer">Facturación</a>
                    </li>
                    <li class="p-b-10">
                        <a class="stext-107 cl7 hov-cl1 trans-04 cursor-pointer">Preguntas frecuentes</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">INFORMACIÓN</h4>
                <p class="stext-107 cl7 size-201">
                    Alguna duda? Puedes contactarnos a la siguiente dirección
                    electrónica store@example.com
                </p>
                <div class="p-t-27">
                    <a class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50">
                <app-subscriber-create></app-subscriber-create>
            </div>
        </div>
        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a class="m-all-1">
                    <img src="static/images/icons/icon-pay-01.png" alt="ICON-PAY" />
                </a>
                <a class="m-all-1">
                    <img src="static/images/icons/icon-pay-02.png" alt="ICON-PAY" />
                </a>
                <a class="m-all-1">
                    <img src="static/images/icons/icon-pay-03.png" alt="ICON-PAY" />
                </a>
                <a class="m-all-1">
                    <img src="static/images/icons/icon-pay-04.png" alt="ICON-PAY" />
                </a>
                <a class="m-all-1">
                    <img src="static/images/icons/icon-pay-05.png" alt="ICON-PAY" />
                </a>
            </div>
        </div>
    </div>
</footer>