<div class="p-t-40">
    <h5 class="mtext-113 cl2 p-b-12">
        Comentar
    </h5>

    <p class="stext-107 cl6 p-b-40">
        Tu dirección de correo electrónico no será visible al público.
    </p>

    <form>
        <div class="bor19 m-b-20">
            <textarea class="stext-111 cl2 plh3 size-124 p-lr-18 p-tb-15" name="cmt"
                placeholder="Comentario..."></textarea>
        </div>
        <button class="flex-c-m stext-101 cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04">
            Publicar comentario
        </button>
    </form>
</div>