<div class="bg0 p-t-30 p-b-116">
    <div class="container">
        <div class="flex-c">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form [formGroup]="customerCreateForm" (ngSubmit)="customerCreate()">
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Crear una cuenta
                    </h4>
                    <div [ngClass]="{ 'bor-error': displayName?.invalid && (displayName?.dirty || displayName?.touched)}"
                        class="bor8 m-b-20">
                        <input formControlName="displayName" autocomplete="off" class="size-116 p-l-25 p-r-30 cl13"
                            type="text" name="displayName" placeholder="Nombres">
                    </div>
                    <div [ngClass]="{ 'bor-error': email?.invalid && (email?.dirty || email?.touched)}"
                        class="bor8 m-b-20">
                        <input formControlName="email" autocomplete="off" class="size-116 p-l-25 p-r-30 cl13"
                            type="text" name="email" placeholder="Correo electrónico">
                    </div>
                    <div [ngClass]="{ 'bor-error': password?.invalid && (password?.dirty || password?.touched)}"
                        class="bor8 m-b-20 how-pos6-parent">
                        <input formControlName="password" class="size-116 p-l-25 p-r-30 cl13"
                            [type]="hiddenPassword ? 'password' : 'text'" autocomplete="off" placeholder="Contraseña">
                        <a class="how-pos6 fs-18 cl8 trans-04 cursor-pointer"
                            (click)="hiddenPassword = !hiddenPassword">
                            <i [ngClass]="[hiddenPassword ? 'fa fa-eye-slash m-l-9' : 'fa fa-eye m-l-9']"
                                aria-hidden="true"></i>
                        </a>
                    </div>
                    <div [ngClass]="{ 'bor-error': passwordConfirm?.invalid && (passwordConfirm?.dirty || passwordConfirm?.touched)}"
                        class="bor8 m-b-30">
                        <input [type]="hiddenPassword ? 'password' : 'text'" formControlName="passwordConfirm"
                            autocomplete="off" class="size-116 p-l-25 p-r-30 cl13" type="text" name="passwordConfirm"
                            placeholder="Confirmar contraseña">
                    </div>
                    <button type="submit" [ngClass]="{'hov-btn3' : !isLoading}"
                        class="flex-c-m stext-101 cl0 size-121 bg1 bor1 p-lr-15 trans-04 pointer">
                        <div *ngIf="!isLoading; else loading">Registrarme</div>
                        <ng-template #loading>
                            <div class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </ng-template>
                    </button>
                </form>
            </div>
        </div>
        <div class="flex-c m-t-20">
            <div class="size-210 bor10 p-lr-70 p-t-20 p-b-20 p-lr-15-lg w-full-md">
                <div class="container">
                    <div class="flex-row align-self-stretch">
                        <div class="col-sm d-flex justify-content-center">
                            <div>
                                <span class="txt-center small cl3">
                                    Ya tienes una cuenta?
                                </span>
                            </div>
                            <div>
                                <span [routerLink]="['/authentication/signIn']"
                                    class="cursor-pointer small cl1 m-l-5">Login</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>