<div class="block2">
    <div class="block2-pic hov-img0 label-new" data-label="Nuevo">
        <img src="../../../static/images/shoes.png" alt={title} />
        <div (click)="productDetailSetup()"
            class="cursor-pointer block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 show-product-modal">
            Ver detalles
        </div>
    </div>
    <div class="block2-txt flex-w flex-t p-t-14">
        <div class="block2-txt-child1 flex-col-l ">
            <div class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                Mi producto {{productDetail | async }}
            </div>

            <span class="stext-105 cl3">$20</span>
        </div>

        <div class="block2-txt-child2 flex-r p-t-3">
            <a (click)="showAlert()" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                <img class="icon-heart1 dis-block trans-04" src="../../../static//images/icons/icon-heart-01.png"
                    alt="ICON" />
                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="../../../static//images/icons/icon-heart-02.png"
                    alt="ICON" />
            </a>
        </div>
    </div>
</div>